# Python
__pycache__/
*.py[cod]
*.pyo 
*.pyd


# Virtual environment
.venv/
venv/
env/


# Environment variables
.env
.env.*


# Dataset - NEVER commit images
data/raw/
data/processed/
*.jpg
*.jpeg
*.png
*.webp


# ML artifacts
artifacts/
*.h5
*.keras
*.weights.h5
*.ckpt
*.pb
*.tflite


# Jupyter
.ipynb_checkpoints/


# Django
db.sqlite3
media/
staticfiles/

# Docker runtime data
docker-data/

# Node
node_modules/
frontend/dist/


# Logs
*.log 


# OS
.DS_Store
Thumbs.db 


# IDE
.vscode/
.idea/